@import "tailwindcss";
:root {
  --background: #c8dce5;
  --text-color: #fff;
}
/*

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text-color);
  --color-navy: #404354;
  --color-ocean: rgb(207, 238, 245);
  --color-mint: #58d7c4;
  --border-radius-colors: 20px;
  --border-radius-button: 50px;
  --font-weight-large: 800;
  --font-weight-small: 400;
  --my-grid-cols: [full-start]1fr [content-start]minmax(0, 1200px) [content-end]
    1fr [full-end];
  --my-grid-rows: auto 1fr auto;
  --content-col: content;
  --content: "";
}
